::-webkit-scrollbar {
  width: 10px;
  height: 5px;
   
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.375);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 165, 188, 0.626);
}
.video-background {
  position: relative;
  overflow: hidden;
}
.contenedorItem {
  padding-top: 1%;
  
}
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Para que el video esté detrás del contenido de la tarjeta */
}

p{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
margin-left: auto;
}
.body-tarjet{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
margin-left: auto;
}
.transparencia{
  height: 100%;
  width: 100%;
  position: absolute;
  background: black;
  opacity: 0.05;
}


img {box-shadow: 0px 0px 10px 1px rgba(140,140,140,.5); border: 1px solid #00BAFA; justify-content: center;}
html {font-family: Arial; display: inline-block; text-align: center; background-color: #232325;}
 
h2 {font-size: 1.2rem;
justify-content: center;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
margin-left: 1px;
}

body {margin: 0;}
.topnav {overflow: hidden; background-color: #00BAFA; color: white; font-size: 1.2rem;}
.content {padding: 5px; }
.card { box-shadow: 0px 0px 10px 1px rgba(140,140,140,.5); border: 1px solid #00BAFA; border-radius: 15px;}
.card.header {background-color: #00BAFA; color: white; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 12px; border-top-left-radius: 12px;}
.cards {max-width: 700px; margin: 0 auto; display: grid; grid-gap: 2rem;  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
.contenedorTodosItem {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto; /* Agregado para permitir desplazamiento horizontal */
}
.detalles {
  text-align: left;
  padding-bottom: 10px; /* Ajusta el valor según tus necesidades */
  margin-top: 100px;


}
.detalles p {
  margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
  margin-top: 100px;
}
.contenedorItem:first{
  position:sticky;
  left:0;
  z-index: 1;
}
.contenedorInterior {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px; /* Espacio entre elementos */
  padding-left: 5px; /* Ajusta el relleno izquierdo para centrar el primer elemento */
  margin-bottom: 5px;
}
.detalles{
  text-align: start;
  margin-left: 3%;
  white-space: nowrap; /* Evita el quiebre del texto en varias líneas */
  font-weight: bold;


}
.contenedorItem {
  box-shadow: 0px 0px 10px 1px rgba(140, 140, 140, 0.5);
  border: 1px solid #00BAFA;
  border-radius: 15px;
  display: inline-block;
  height: auto; /* Cambiado a "auto" para permitir el crecimiento en altura según el contenido */
  min-width: 60px; /* Establece un ancho mínimo para evitar el corte del primer elemento */
  border: 2px solid rgba(255, 255, 255, 0.551); /* Hacer el borde transparente */
  justify-content: flex-end;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: auto;
}

.contenedorItem p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  padding: 3px; /* Añade un pequeño relleno para mejorar la apariencia */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  font-size: xx-small; /* Puedes ajustar según tus preferencias */

}

@media (max-min: 375px ) {
  .detalles {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .topnav h3{
    margin-top: 10px;
      margin-bottom: 10px;
  }
}
@media (max-width: 640px) {
  .detalles {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .topnav h3{
    margin-top: 10px;
      margin-bottom: 10px;
  }
}
/* Media Query para hacerlo responsivo */
@media (max-width: 700px) {
  .contenedorTodosItem {
    padding: 0 0px; /* Agrega un poco de espacio en los lados para mayor legibilidad en pantallas pequeñas */
  }
  .contenedorInterior {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}


  .sliderTS:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #f7f7f7;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .sliderTS {
    background-color: #00878F;
  }
  
  input:focus + .sliderTS {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderTS:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .sliderTS:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked + .sliderTS:after {  
    left: 25%;
    content:'ON';
  }
  
  input:disabled + .sliderTS {  
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }
  

  